.tsp-save-as-window__container {
  padding: 12px;
  gap: 8px;
}

.tsp-save-as-window__label {
  width: 90px;
}

.tsp-save-as-window__file-name-input,
.tsp-save-as-window__format-select {
  flex: 1;
}
