<div class="tsp-depressed-item-container tsp-drawing-tool-options__container">
  @if (displayedPicker === 'fillTypePicker') {
    <tsp-fill-type-picker
      [selectedFillType]="selectedFillType"
      (selectedFillTypeChange)="changeSelectedFillType($event)"
    ></tsp-fill-type-picker>
  } @else if (displayedPicker === 'lineThicknessPicker') {
    <tsp-line-thickness-picker
      [selectedThickness]="selectedLineThickness"
      (selectedThicknessChange)="changeSelectedLineThickness($event)"
    ></tsp-line-thickness-picker>
  }
</div>
