@for (menu1 of menuStructure; track menu1) {
  <div class="tsp-menu__menu-level-1" (click)="focusMenu()">
    {{ menu1.name }}
    @if (menu1.menus) {
      <div class="tsp-raised-item-container tsp-menu__menu-level-2-container">
        <div class="tsp-raised-item">
          @for (menu2 of menu1.menus; track menu2) {
            @if (menu2.name) {
              <div
                class="tsp-menu__menu-level-2"
                [ngClass]="{ 'tsp-menu__menu-level-2--disabled': menu2.disabled }"
                (click)="itemSelected.emit(menu2)"
                >
                <div>{{ menu2.name }}</div>
                @if (menu2.hotkeys) {
                  <div class="tsp-menu__menu-item-hotkeys">{{ menu2.hotkeys.join('+') }}</div>
                }
              </div>
            }
            @if (!menu2.name) {
              <hr />
            }
          }
        </div>
      </div>
    }
  </div>
}
