@import 'variables';

.tsp-ts-paint__image_scroller{
  background-color: @color--grey;
  position: relative;
  overflow: auto;
}

.tsp-ts-paint__image-padding{
  position: absolute;
  min-width: 100%;
  padding: 3px;
  box-sizing: border-box;
}