<div class="tsp-ts-paint__container" (paste)="onPaste($event)" (copy)="onCopy()">
  <div class="tsp-horizontal-bar">
    <tsp-menu [menuStructure]="store.state.menuStructure" (itemSelected)="store.executeMenuAction($event.action)">
    </tsp-menu>
  </div>

  <div class="tsp-horizontal-bar tsp-can-grow">
    <div class="tsp-vertical-bar" style="margin-left: 8px; margin-right: 4px">
      <tsp-toolbox [availableTools]="store.state.availableDrawingTools"
        [selectedTool]="store.state.selectedDrawingTool?.type" (selectedToolChange)="store.setDrawingTool($event)">
      </tsp-toolbox>
    </div>
    <div #canvasContainer class="tsp-vertical-bar tsp-can-grow tsp-ts-paint__canvas-container">
      <tsp-zoomable-canvas [zoom]="store.state.zoom" [image]="store.state.image"></tsp-zoomable-canvas>
      <tsp-zoomable-canvas [zoom]="store.state.zoom" [image]="store.state.previewImage"></tsp-zoomable-canvas>
      <tsp-mouse-tracker [zoom]="store.state.zoom" [image]="store.state.image"
        (mouseMove)="store.processMouseMove($event)" (mouseDown)="store.processMouseDown($event)"
        (mouseUp)="store.processMouseUp($event)" (mouseScroll)="store.processMouseScroll($event)"></tsp-mouse-tracker>
      <!--tsPaintCanvas #canvas [zoom]="zoomFactor" [selectionCorners]="selectedDrawingTool?.selectionCorners"
        (mouseMove)="mouseMove($event)" (mouseDown)="mouseDown($event)" (mouseUp)="mouseUp($event)"
        (mouseScroll)="mouseScroll($event)"></tsPaintCanvas-->
    </div>
  </div>

  <div class="tsp-horizontal-bar">
    <!--tsPaintPalette [selectedPrimaryColor]="primaryColor" [selectedSecondaryColor]="secondaryColor"
      (selectedColorChange)="changeColor($event)"></tsPaintPalette-->
  </div>

  <div class="tsp-horizontal-bar">
    TODO: info
  </div>
</div>