@import 'variables';

.tsp-ts-paint__container{
  display: flex;
  flex-direction: column;
  background-color: @color--lighter-grey;
  width: 100%;
  height: calc(100vh - 86px);
}

.tsp-ts-paint__canvas-container{
  background-color: @color--grey;
  overflow: auto;
}