<div class="tsp-ts-paint__container" (paste)="onPaste($event)" (copy)="onCopy()">
  <div class="tsp-horizontal-bar">
    <tsp-menu [menuStructure]="store.state.menuStructure" (itemSelected)="store.executeMenuAction($event.action)">
    </tsp-menu>
  </div>

  <div class="tsp-horizontal-bar tsp-can-grow">
    <div class="tsp-vertical-bar" style="margin-left: 8px; margin-right: 4px">
      <tsp-toolbox [availableTools]="store.state.availableDrawingTools"
        [selectedTool]="store.state.selectedDrawingTool?.type" (selectedToolChange)="store.setDrawingTool($event)">
      </tsp-toolbox>
    </div>
    <div #canvasContainer class="tsp-vertical-bar tsp-can-grow tsp-ts-paint__canvas-container">
      <tsp-zoomable-canvas [zoom]="store.state.zoom" [image]="store.state.image"></tsp-zoomable-canvas>
      <tsp-zoomable-canvas [zoom]="store.state.zoom" [image]="store.state.previewImage"
        [offsetW]="store.state.previewOffsetW" [offsetH]="store.state.previewOffsetH"></tsp-zoomable-canvas>
      <tsp-mouse-tracker [zoom]="store.state.zoom" [image]="store.state.image"
        (mouseMove)="store.processMouseMove($event)" (mouseDown)="store.processMouseDown($event)"
        (mouseUp)="store.processMouseUp($event)" (mouseScroll)="store.processMouseScroll($event)"></tsp-mouse-tracker>
    </div>
  </div>

  <div class="tsp-horizontal-bar">
    <tsp-palette [selectedPrimaryColor]="this.store.state.primaryColor"
      [selectedSecondaryColor]="this.store.state.secondaryColor" [availableColors]="this.store.state.availableColors"
      (selectedColorChange)="this.store.setColor($event)">
    </tsp-palette>
  </div>

  <div class="tsp-horizontal-bar">
    TODO: info
  </div>
</div>