<div
  #wrapper
  class="tsp-horizontal-bar tsp-dropdown"
  tabindex="0"
  role="combobox"
  aria-haspopup="listbox"
  [attr.aria-expanded]="isOpen()"
  (focusout)="onFocusOut($event)"
  (keydown)="onKeyDown($event)"
  (keyup.enter)="$event.stopPropagation()"
  (keyup.escape)="closeOnEscape($any($event))"
>
  <div class="tsp-depressed-item-container tsp-can-grow" (click)="toggleOpen()">
    <div class="tsp-text-input tsp-depressed-item tsp-dropdown__input">
      {{ selectedLabel() }}
      <button type="button" tabindex="-1" class="tsp-button tsp-dropdown__arrow" aria-label="Open list"></button>
    </div>
  </div>

  @if (isOpen()) {
  <div class="tsp-raised-item-container tsp-dropdown__list-container">
    <div class="tsp-raised-item tsp-dropdown__list" role="listbox">
      @for (option of options(); track option.value) {
      <div
        class="tsp-dropdown__option"
        role="option"
        [attr.aria-selected]="option.value === value()"
        [class.tsp-dropdown__option--selected]="option.value === value()"
        (click)="selectOption(option)"
      >
        {{ option.label }}
      </div>
      }
    </div>
  </div>
  }
</div>
