<div class="tsp-menus__menu-level-1" *ngFor="let menu1 of menuStructure">{{menu1.name}}
  <div class="tsp-raised-item-container tsp-menus__menu-level-2-container" *ngIf="menu1.menus">
    <div class="tsp-raised-item">
      <ng-container *ngFor="let menu2 of menu1.menus">
        <div *ngIf="menu2.name" class="tsp-menus__menu-level-2"
          [ngClass]="{'tsp-menus__menu-level-2--disabled': menu2.disabled}"
          (click)="store.executeMenuAction(menu2.action)">
          {{menu2.name}}
        </div>
        <hr *ngIf="!menu2.name" />
      </ng-container>
    </div>
  </div>
</div>