<tsp-modal-window [title]="'Attributes'" [closable]="true">
  <div class="tsp-horizontal-bar tsp-attributes-window__container">
    <div class="tsp-vertical-bar">
      <div class="tsp-horizontal-bar">
        <label class="tsp-input-label" for="attributes-width">Width:</label>
        <div class="tsp-depressed-item-container">
          <input id="attributes-width" type="text"
            class="tsp-text-input tsp-depressed-item tsp-attributes-window__dimension_input" [(ngModel)]="width"
            #ctrl="ngModel">
        </div>
        <label class="tsp-input-label" for="attributes-height">Height:</label>
        <div class="tsp-depressed-item-container">
          <input id="attributes-height" type="text"
            class="tsp-text-input tsp-depressed-item tsp-attributes-window__dimension_input" [(ngModel)]="height"
            #ctrl="ngModel">
        </div>
      </div>
    </div>
    <div class="tsp-vertical-bar">
      <button class="tsp-button tsp-text-button" (click)="okClicked()">OK</button>
      <button class="tsp-button tsp-text-button" (click)="cancel.emit()">Cancel</button>
    </div>
  </div>
</tsp-modal-window>