@font-face {
  font-family: 'Windows95';
  src: url('assets/fonts/win95.woff2') format('woff2'),
      url('assets/fonts/win95.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: Windows95;
  font-size: 8px;
}

.tsp-can-grow{
  flex-grow: 1;
}

.tsp-horizontal-bar{
  display: flex;
  width: 100%;
}

.tsp-vertical-bar{
  display: flex;
  flex-direction: column;
  height: 100%;
}