@import 'variables';

@font-face {
  font-family: 'Windows95';
  src: url('assets/fonts/win95.woff2') format('woff2'),
      url('assets/fonts/win95.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: Windows95;
  font-size: 8px;
  margin: 0px;
  color: black;
}

.tsp-can-grow{
  flex-grow: 1;
}

.tsp-horizontal-bar{
  display: flex;
  width: 100%;
}

.tsp-vertical-bar{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tsp-raised-item-container{
  border: 1px solid;
  border-color: @color--lighter-grey black black @color--lighter-grey;
}

.tsp-raised-item{
  border: 1px solid;
  border-color: white @color--grey @color--grey white;
}

.tsp-depressed-item-container{
  border: 1px solid;
  border-color: #868B8E #FFFFFF #FFFFFF #868B8E;
}

.tsp-depressed-item{
  border: 1px solid;
  border-color: #000000 #C3C7CB #C3C7CB #000000;
}

.tsp-button{
  &:extend(.tsp-raised-item);
  outline: 1px solid black;
  background-color: @color--lighter-grey;
}